<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" href="/global.css">
</head>
<body>
    <nav class="navbar">
        <h1>Shop Eco</h1>
        <div style="min-width: 12rem; max-width: 20rem;">
            <form action="/search" method="get">
                <input type="text" placeholder="Search Anything" style="padding: 12px; border: none; background-color: #ddd; border-radius: 5px; width: 100%; outline: none;" id="search-input" name="q">
            </form>
        </div>
        <div style="padding: 1px;">
            <div style="display: flex; align-items: center; padding-right: 10px;">
                    <% if(user.accountType != "personal") { %>
                        <a href="/pannel" class="teal-btn" aria-label="Profile">Pannel</a>
                        <div style="padding: 4px;"></div>
                    <% } else { %>

                    <% } %>
                    <a href="/account/profile" class="teal-btn" aria-label="Profile">Profile </a>
                    <div style="padding: 4px;"></div>
                    <a href="/account/logout" class="teal-btn" aria-label="Logout">Logout</a>
            </div>
        </div>
    </nav>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="padding: 12px 14px;">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label>Image Of your product</label>
                    <div>
                        <input type="file" name="image" id="image" style="padding: 12px; width: 100%;">
                    </div>
                </div>
                <div>
                    <label>Name Of your product</label>
                    <div>
                        <input type="text" name="name" style="padding: 12px;">
                    </div>
                </div>
                <div>
                    <label>Description</label>
                    <div>
                        <textarea name="description" style="padding: 12px; height: 10rem;"></textarea>
                    </div>
                </div>
                <div>
                    <label>Supply</label>
                    <div>
                        <input type="number" name="supply" id="" style="padding: 12px;">
                    </div>
                </div>
                <div>
                    <label>Price (USD)</label>
                    <div>
                        <input type="number" name="price" id="" style="padding: 12px;">
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>